In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append('..')
from df4cats import frames

In [2]:
cat1 = ['d', 'b', 'c']
cat2 = ['1', '2', np.nan]
cat4 = ['s', 'p', 'qr']
df = pd.DataFrame({'let': cat1, 'num': cat2, 'rome': cat4})
df

  let  num rome
0   d    1    s
1   b    2    p
2   c  NaN   qr

In [3]:
cdf = frames.CodedDF(df=df)
cdf.data

   let  num  rome
0    3    2     3
1    2    1     1
2    1   -1     2

In [4]:
cdf.decode(inplace=True)
cdf.data

  let  num rome
0   d    1    s
1   b    2    p
2   c  NaN   qr

In [5]:
cat_dict = {'let': ['a', 'b', 'd', np.nan], 'num': ['2'], 'cat3': ['y', 'u', 'so', 'rude']}

In [6]:
cdf_hard = cdf.hardcode_categories(cat_dict)
cdf_hard.data

Removing not present in dictionary:
['rome']

   let  num
0    3    0
1    2    1
2    0   -1

In [7]:
cdf_hard.decode(inplace=True)
cdf_hard.data

     let    num
0      d  other
1      b      2
2  other    NaN

In [8]:
cdf_hard = cdf.hardcode_categories(cat_dict, add_extra=True)
print(cdf_hard.data)
cdf_hard.decode(inplace=True)
cdf_hard.data

Removing not present in dictionary:
['rome']
Added (empty) columns previously not present:
['cat3']
   let  num  cat3
0    3    0    -1
1    2    1    -1
2    0   -1    -1

     let    num cat3
0      d  other  NaN
1      b      2  NaN
2  other    NaN  NaN

In [9]:
cdf_hard = cdf.hardcode_categories(cat_dict, drop_missing=False)
print(cdf_hard.data)
cdf_hard.decode(inplace=True)
cdf_hard.data

   let  num  rome
0    3    0     3
1    2    1     1
2    0   -1     2

     let    num rome
0      d  other    s
1      b      2    p
2  other    NaN   qr