In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append('..')
from cleandf import frames

In [2]:
cat1 = ['d', 'b', 'c']
cat2 = ['1', '2', np.nan]
cat4 = ['s', 'p', 'qr']
df = pd.DataFrame({'let': cat1, 'num': cat2, 'rome': cat4})
df

  let  num rome
0   d    1    s
1   b    2    p
2   c  NaN   qr

In [3]:
cdf = frames.CodedDF(df=df)
cdf.data

   let  num  rome
0    3    2     2
1    1    1     1
2    2   -1     3

In [4]:
cdf.decode(inplace=True)
cdf.data

  let  num rome
0   d    1    s
1   b    2    p
2   c  NaN   qr

In [5]:
hard_dict = {'let': ['a', 'b', 'd', np.nan], 'num': ['2'], 'cat3': ['y', 'u', 'so', 'rude']}

In [6]:
cdhard = cdf.hardcode_categories(hard_dict, discard_missing=True)
cdhard.data

   let  num
0    2    0
1    1    1
2    0    0

In [7]:
cdhard.decode(inplace=True)
cdhard.data

     let    num
0      d  other
1      b      2
2  other  other

In [8]:
cdhard = cdf.hardcode_categories(hard_dict, discard_missing=False, others_name='missing', others_value=-3)
print(cdhard.categorical_columns)
print(cdhard.categorical_mapping['cat3'].inverse_mapping)
print(cdhard.categorical_mapping['cat3'].direct_mapping)
print(cdhard.categorical_mapping['cat3'].num_values)
print(cdhard.categorical_mapping['let'].inverse_mapping)
print(cdhard.categorical_mapping['let'].direct_mapping)
print(cdhard.categorical_mapping['let'].num_values)
print(cdhard.categorical_mapping['let'].values)
cdhard.data

['let', 'num', 'rome']
{1: 'rude', 2: 'u', 3: 'so', 4: 'y', -1: nan, -3: 'missing'}
{'rude': 1, 'u': 2, 'so': 3, 'y': 4}
4
{1: 'b', 2: 'd', 3: 'a', -1: nan, -3: 'missing'}
{'b': 1, 'd': 2, 'a': 3, nan: -1}
5
['b', 'd', 'a', nan]

   let  num  rome
0    2   -3     2
1    1    1     1
2   -3   -3     3

In [9]:
cdhard.decode(inplace=True)
cdhard.data

       let      num rome
0        d  missing    s
1        b        2    p
2  missing  missing   qr

In [10]:
df

  let  num rome
0   d    1    s
1   b    2    p
2   c  NaN   qr