In [1]:
import numpy as np
import pandas as pd
import sys
sys.path.append('..')
from df4cats import frames

Removing not present in dictionary:
['rome']
Removing not present in dictionary:
['rome']

In [2]:
cat1 = ['d', 'b', 'c']
cat2 = ['1', '2', np.nan]
cat4 = ['s', 'p', 'qr']
useless = [1,1,1]
df = pd.DataFrame({'let': cat1, 'num': cat2, 'rome': cat4, 'useless': useless})
df

  let  num rome  useless
0   d    1    s        1
1   b    2    p        1
2   c  NaN   qr        1

In [3]:
cdf = frames.CodedDF(df=df)
print(cdf.dropped_columns)
cdf.data

['useless', 'useless']

   let  num  rome
0    3    2     3
1    1    1     1
2    2   -1     2

In [4]:
cdf.decode(inplace=True)
cdf.data

  let  num rome
0   d    1    s
1   b    2    p
2   c  NaN   qr

In [5]:
cat_dict = {'let': ['a', 'b', 'd', np.nan], 'num': ['2'], 'cat3': ['y', 'u', 'so', 'rude']}

In [6]:
cdf_hard = cdf.hardcode_categories(cat_dict)
cdf_hard.data

Removing not present in dictionary:
['rome']

   let  num
0    3    0
1    2    1
2    0   -1

In [7]:
cdf_hard.decode(inplace=True)
cdf_hard.data

     let    num
0      d  other
1      b      2
2  other    NaN

In [8]:
cdf_hard = cdf.hardcode_categories(cat_dict, add_extra=True)
print(cdf_hard.data)
cdf_hard.decode(inplace=True)
cdf_hard.data

Removing not present in dictionary:
['rome']
Added (empty) columns previously not present:
['cat3']
   let  num  cat3
0    3    0    -1
1    2    1    -1
2    0   -1    -1

     let    num cat3
0      d  other  NaN
1      b      2  NaN
2  other    NaN  NaN

In [9]:
cdf_hard = cdf.hardcode_categories(cat_dict, drop_missing=False)
print(cdf_hard.data)
cdf_hard.decode(inplace=True)
cdf_hard.data

   let  num  rome
0    3    0     3
1    2    1     1
2    0   -1     2

     let    num rome
0      d  other    s
1      b      2    p
2  other    NaN   qr

In [10]:
cat_dict = {'let': ['a', 'b', 'd', np.nan, 'c'], 'num': ['2'], 'cat3': ['y', 'u', 'so', 'rude']}
cdf_hard = cdf.hardcode_categories(cat_dict)
cdf_hard.data

Removing not present in dictionary:
['rome']

   let  num
0    2    0
1    1    1
2    4   -1

In [11]:
cdf_hard.get_dummies()

   let_b  let_c  let_d  num_2  num_other
0      0      0      1      0          1
1      1      0      0      1          0
2      0      1      0      0          0

In [12]:
cdf_hard.get_dummies(add_empty=True)

   let_b  let_c  let_d  num_2  num_other  let_a
0      0      0      1      0          1      0
1      1      0      0      1          0      0
2      0      1      0      0          0      0

In [13]:
cdf_hard.get_dummies(add_empty=True, dummy_na=False, empty_others=True)

   let_b  let_c  let_d  num_2  num_other  let_a  let_other
0      0      0      1      0          1      0          0
1      1      0      0      1          0      0          0
2      0      1      0      0          0      0          0

In [14]:
cdf_hard.get_dummies(add_empty=True, dummy_na=True, empty_others=False)

   let_b  let_c  let_d  let_nan  num_2  num_other  num_nan  let_a
0      0      0      1        0      0          1        0      0
1      1      0      0        0      1          0        0      0
2      0      1      0        0      0          0        1      0

In [15]:
cdf_hard.get_dummies(add_empty=True, dummy_na=True, empty_others=True)

   let_b  let_c  let_d  let_nan  num_2  num_other  num_nan  let_a  let_other
0      0      0      1        0      0          1        0      0          0
1      1      0      0        0      1          0        0      0          0
2      0      1      0        0      0          0        1      0          0